#googleAccessMenu {
  width: 90vw;
  height: 5vh;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
#googleAccessMenu li {
  float: right;
  display: block;
}
#drawingCanvas {
  width: 180vh;
  height: 70vh;
  float: ;
  border-style: solid;
  margin: 20px 10vw 20px 10vw;
  background-color: white;
  
}
body{
  background-color: skyblue;
  
}
