#googleAccessMenu {
  width: 90vw;
  height: 5vh;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
<<<<<<< Updated upstream
#googleAccessMenu li {
  float: right;
  display: block;
}
#drawingCanvas {
  width: 80vw;
  height: 80vh;
  border-style: solid;
  margin: 20px 10vw 20px 10vw;
=======
#SignOutDrive{

}
canvas {
  width: 1000px;
  height: 1000px;
>>>>>>> Stashed changes
}
